@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}
.media-library-thumb {
    position: relative;
    flex: none;
    width: 6rem !important;
    height: 6rem !important;
    margin: 1rem;
}
.filepond--panel-root {
    background-color: #cfeffc !important;
}
.glow-white-soft {
    color: #ffffff;
    text-shadow:
        0 0 3px #ffffff,
        0 0 6px rgba(255, 255, 255, 0.8),
        0 0 10px rgba(255, 255, 255, 0.6);
}
