@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}
.media-library-thumb {
    position: relative;
    flex: none;
    width: 6rem !important;
    height: 6rem !important;
    margin: 1rem;
}
.filepond--panel-root {
    background-color: #cfeffc !important;
}

.mapboxgl-map{
    position: relative;
}
.foundation-popup {
    background: #ffffff;
    color: #0d2a52;
    padding: 6px 12px;
    border-radius: 6px;
    font-size: 13px;
    font-weight: 600;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.25);
    position: absolute;
    left: 0;
    top:0;
}

.mapboxgl-map{
    position: relative;
}
.foundation-popup {
    background: #ffffff;
    color: #0d2a52;
    padding: 6px 12px;
    border-radius: 6px;
    font-size: 13px;
    font-weight: 600;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.25);
    position: absolute;
    left: 0;
    top:0;
}
